<ion-header [translucent]="true" style="margin-bottom: 20px;">
  <ion-toolbar>
    <ion-title>
      Mötesrumbokningar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: 15px; max-height:90%">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bokningar</ion-title>
    </ion-toolbar>
  </ion-header>

  <full-calendar #fullcalendar [options]="calendarOptions" style="min-height: 90%; max-height: 90%;"></full-calendar>
</ion-content>
