<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Avbryt</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bokning</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()" [disabled]="id === ''">Radera</ion-button>
      <ion-button (click)="save()">Spara</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start">Från</ion-label>
    <ion-datetime-button datetime="startTime"></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Till</ion-label>
    <ion-datetime-button datetime="endTime"></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-input label="Namn" labelPlacement="fixed" [(ngModel)]="creator"></ion-input>
  </ion-item>

  <!-- Bindings to DateTime Buttons, these must be mounted as per Ionics Documentation -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="startTime" [(ngModel)]="startDate" ngDefaultControl></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="endTime" [(ngModel)]="endDate" ngDefaultControl></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
